.wrapper{
	margin-top: 25px;
}

.pic{
	background-color: black;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.images{
	display: block;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}

h1{
	font-family: 'Fascinate Inline', cursive;
	font-size: 2.5em;
	display: block;
	margin: 30px auto; 
	font-weight: normal;
	color: #E99626;
	background-color: #291E14;
	text-align: center;
	padding: 3px;
	width: 75%;
}

p{
	font-family: 'Dosis', sans-serif;
	margin: 10px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 10px;
	background-color: #E99626;
}