
p{
	font-family: 'Dosis', sans-serif;
	margin: 0px;
	padding: 10px;
	background-color: #E99626;
}

h1{
	font-family: 'Fascinate Inline', cursive;
	font-size: 2.5em;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;  
	font-weight: normal;
	color: #E99626;
	background-color: #291E14;
	text-align: center;
	padding: 3px;
}

.c1{
	width: 58%;
	float: left;
	margin-top: 20px;
	padding-bottom: 10px;
	/*background-color: blue;*/
}

.c2{
	padding-bottom: 20px;
	width: 39%;
	float: right;
	margin-top: 20px;
	padding-left: 0px;
	/*background-color: green;*/
	border-left: 5px solid #291E14;
}

.body{
	padding: 5px;
}

.side{
	padding: 10px;
	padding-left: 0px;
	float: right;
	width: 90%;
}

@media(max-width: 700px){
	.c2{
		display: none;
	}
	h1{
		font-size: 1.5em;
	}
	.c1{
		width: 100%;
	}
	p{
		padding: 3px;
	}
/*	.nav{
		clear: right;
		float: none;
		padding: none;
		margin:none;
		text-align: center;
		width: 100%;
	}
	a{
		padding: none;
		margin: none;
		white-space: nowrap;
		text-align: center;
	}
	.nav3{
		float: center;
		padding: none;
		margin: none;
	}*/s
}
